// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

$red: #fa6855;
$p_1_length: 135; // $0.getTotalLength()
$p_2_length: 270;
$p_3_length: 107;
$duration: 1s;

.path {
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  fill: rgba(0, 0, 0, 0);
  stroke: $red;
  stroke-width: 16px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@keyframes path_1 {
  0% {
    stroke-dashoffset: $p_1_length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes path_2 {
  0% {
    stroke-dashoffset: $p_2_length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes path_3 {
  0% {
    stroke-dashoffset: $p_3_length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.path1 {
  animation-name: path_1;
  stroke-dasharray: $p_1_length;
}
.path2 {
  animation-delay: $duration;
  animation-name: path_2;
  stroke-dasharray: $p_2_length;
}
.path3 {
  animation-delay: $duration;
  animation-name: path_3;
  stroke-dasharray: $p_3_length;
}
